VITE_SUPABASE_PROJECT_ID="bczoajqahhlivchcxzpw"
VITE_SUPABASE_URL="https://bczoajqahhlivchcxzpw.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjem9hanFhaGhsaXZjaGN4enB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2NjUwODIsImV4cCI6MjA4NjI0MTA4Mn0.p_-q_Q3QRUXSZZfemVAucRSrYSr9z7uMba_O7UTll0c"
